body {
	font-family: '苹方 常规';
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.head{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;;
	background: #fff;
	
}
.head>img{
	width: 20%;
	border-radius: 50%;
	margin-bottom: 20px;
	
}
.head>img:before{
	content: '+';
	font-size:20px;
	position:absolute;
	bottom: 0px;
}
nav{
	position: relative;
	line-height: 50px;
	background-color: #3E8FDE;
	color:#fff;
	text-align: center;
	font-size: 16px;
	height: 50px;
}
.back{
	position:absolute;
	left:5%;
	top: 30%;
}
form{
	background-color: #fff;
	position:relative;
	box-shadow: border-box;
	padding: 10%;
	width: 100%;
	border-top: 10px solid #fff5ff;
}
.thingInformation>input{
	background: #f3f4f5;
}
.thingInformation>textarea{
	background: #f3f4f5;
}
.imgInformation{
	height: 80px;
	position: relative;
	bottom: 10px;
	text-align: left;
	padding-top:10px ;
	padding-bottom: 10px;
	border: 1px solid #BDBDBD;
	border-top: 0px solid #BDBDBD;
	background: #f3f4f5;
}
.imgInformation>img{
	vertical-align: middle;
	height: 64px;
	width: 88px;
	float: right;
	border:0;
	
}
.imgInformation>span{
	vertical-align: bottom;
	font-size: 12px;
}
textarea{
	border-bottom: 0px;
	margin-bottom: 0px;
	height: 200px;
}
.file{
	position: absolute;
	bottom:10px;
	left: 10px;
	display: inline-block;
	color:#BDBDBD;
	
	border-radius: 50%;
	text-align: center;
	padding: 5px;
	border:1px solid #bbbbbb;
	font-size: 30px;
	
}
.file + span{
	position: absolute;
	bottom: 10px;
	left: 50px;
	color: #bbbbbb;
}
#fileBtn{
	opacity: 0;
	width: 100px;
	height: 60px;
	position: absolute;
	left: 0;
}
input[type="radio"] + label::before {
	position: relative;
	bottom: 2px;
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 0.9em;
    height: 0.9em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #000;
    text-indent: .15em;
    line-height: 1; 
}
input[type="radio"]:checked + label::before {
	border: 1px solid #007AFF;
    background-color: #007AFF;
    background-clip: content-box;
    width: 0.6em;
    height: 0.6em;
    padding: 0.15em;
}
input[type="radio"]:checked + label{
	color:#007AFF;
}
input[type="radio"] {
   visibility: hidden;
}
.fa{
	font-size: 20px;
}
.personInformation{
	margin-top: 20px;
}
.personInformation  input[type="text"]{
	height: 30px;
	width: 70%;
	padding-top:0px ;
	padding-bottom:0px;
	margin-left: 10%;
	border-radius: 20px;
}
.personInformation  input[type="date"]{
	border-radius: 15px;
	margin-top: 20px;
	height: 30px;
	width: 70%;
	margin-left: 10%;
	font-size:16px;
}
.personInformation span{
	display: inline;
}
#address{
	border-radius: 15px;
	margin-top: 20px;
	height: 30px;
	width: 70%;
	margin-left: 10%;
	border:1px solid #BDBDBD!important;
	padding: 0;
	padding-left: 15px;
	font-size:16px;
}
button{
	margin-top: 30px;
	width: 30%;
	color:#fff;
	background-color: #3E8FDE;
	border-radius: 15px;
	
}
.displaynone{
	display: none!important;
}