*{
	font-family: '苹方 常规';
}
body{
	background-color: #fff;
}
nav{
	height: 100px;
	box-sizing: border-box;
	width: 100%;
	padding-left: 6%;
	padding-right: 6%;
	margin-top: 30px;
}
nav>div{
	
	float: left;
	text-align: center;
	width: 25%;
	margin-left: 6%;
	height: 25%;
}
nav>div>a>i{
	
	background-color: #FFF;
	border-radius: 50%;
	color:#3E8FDE;
	border: 3px solid #3E8FDE;
	padding: 15px;
}
nav>div:nth-child(2)>a>i{
	color: #3E8FDE;
	border-radius: 50%;
	background-color: #fff;
	border: 3px solid #3E8FDE;
	padding: 15px;
}
nav>div>a>p{
	color:#000;
	margin-top: 10px;
	font-size: 16px;
}
.select{
	transition: 0.3s;
	background-color:#e6e6e6; 
}

#user
{
	background-repeat: no-repeat;
	color:transparent;
	background-size: 100% 100%;
	background-color: #fff;
	border: 3px solid transparent;
	padding: 15px;
	
}
#search{
	background-color: #f3f4f5;
	box-sizing: border-box;
	/*background-image: url(../img/search.png);*/
	background-size: 20px 20px;
	background-position: 95% 50%;
	background-repeat: no-repeat;
	padding-left: 3%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	
	width: 75%;
	border-radius: 17px;
}
button{
	font-size: 16px;
	color:#fff;
	background-color:#3E8FDE;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	border-radius: 15px;
	width: 15%;
	margin-left: 5%;
}
section{
	background-color: #fff;
	position:relative;
	box-shadow: border-box;
	padding: 3%;
	width: 100%;
	border: 1px solid #efeff4;
}
section ul{
	padding-left: 0%;
	margin: 5px;
	
}
section li{
	font-size: 16px;
	float: left;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	list-style-position: inside;
	color:#000;
	width:83%;
	margin-right: 10px;
}
section a{
	color:#000;
}
section span>h3{
	font-size:20px;
	position:relative;
	margin-bottom: 15px;
}
section span>h3>span{
	font-size:16px;
	color:#666;

	right:3%;
	position: absolute;
	
}

.hot{
	padding: 5px;
	width: 17%;
	display: inline-block;
	margin-bottom: 0;
	margin-left: 20px;
	font-size: 16px;
	border-radius: 10px;
	vertical-align: middle;
}
.floatLeft{
	float: left;
	
}
.floatRight{
	float: right;
	
}
.searchBar{
	box-sizing: border-box;
	width:50%;
	text-align: center;
	height: 50px;
	line-height: 40px;
	padding: 5px;
}
#popover{
	max-width: 600px;
	width: 95%;
	padding-bottom: 20px;
}
.bar{
	width: 50%;
	height: 2px;
	background: #3E8FDE;
}
.selectOption{
	transition:0.3s;
	text-align: center;
	color:#333333;
	margin-top: 10px;
	display: inline-block;
	width: 20%;
	margin-left: 10%;
	padding: 5px;
	border:1px solid #333333;
	border-radius: 20px;
	font-size:14px;
}
.selected{
	transition:0.3s;
	text-align: center;
	margin-top: 10px;
	display: inline-block;
	width: 20%;
	margin-left: 10%;
	padding: 5px;
	border-radius: 20px;
	font-size:14px;
	color:#fff;
	background-color: #3e8fde;
	border:1px solid #3e8fde;
}
.clearFloat{
	clear:both;
}
@media screen and (max-width:365px){
	*{
		font-size:15px!important;
	}
}
@media screen and (max-width:340px){
	*{
		font-size:14px!important;
	}
}