<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>翼起找呀-修改个人信息</title>
		<script src="../js/mui.min.js"></script>
	    <link href="../css/mui.min.css" rel="stylesheet"/>
	    <link href="../css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	    <link href="./css/style.css" rel="stylesheet">
	    <link href="../css/header.css" rel="stylesheet">
    	<script type="text/javascript" charset="utf-8">
      		mui.init();
    	</script>
	</head>
	<body>
		<nav><i class="back mui-icon mui-icon-back" onclick="window.history.go(-1)"></i>修改信息</nav>
		<div id="head">
			<form id="avatar" class="head">
				<input type="file" id="fileBtn" name="avatar" v-on:change="upload('#fileBtn', '#img');" accept="image/*" multiple="multiple" v-model="avatar" >
				<img v-bind:src="imgUrl" id="img" >
			</form>
			<form class="head" style="padding-top:0px ;">
				<span>昵称</span>
				<input type="text" name="nickname" placeholder="取一个昵称吧" style="margin-top: 20px;" v-model="nickname">
				<br/>
				<span>班级</span>
				<input type="text" name="class" placeholder="年级专业班级" v-model="Class">
				<br/>
				<span>电话</span>
				<input type="text" name="phone" placeholder="手机号" v-model="phone">
				<br/>
				<span>Q &nbspQ</span>
				<input type="text" name="qq" placeholder="QQ号" v-model="qq">
				<br/>
				<span>微信</span>
				<input type="text" name="wx" placeholder="微信号" v-model="weixin">
				<button type="button" v-on:click="submit">保存</button>
			<form>
		</div>
		
	</body>
	<script type="text/javascript" src="../js/checkStage.js"></script>
<script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="./js/userChange.js"></script>
</html>
